<header>
    <nav>
        <input type="checkbox" id="check" onclick="abreNavbar()">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <div class="logo">
            <span>HEALTH.</span>
        </div>
        <ul>
            <li><a routerLink="">HOME</a></li>
            <li><a routerLink="/sobre">SOBRE</a></li>
            <li><a routerLink="/servicos">SERVIÇOS</a></li>
            <li><a routerLink="/contato">CONTATO</a></li>
        </ul>
    </nav>
</header>