<div class="wrapper">
    <div class="conteudo-sobre">
        
        <div class="lado-esquerdo">
            <div class="text-sobre">
                <div class="title">
                    <h2>Sobre mim..</h2>
                </div>
                <div class="content">
                    <p>Nulla vulputate risus libero, sed convallis purus tristique nec. Pellentesque habitant morbi
                        tristique senectus et netus et malesuada fames ac turpis egestas. Etiam turpis nisi, condimentum
                        vel massa quis, porttitor aliquam purus. Suspendisse suscipit risus massa, at consequat velit
                        ornare sit amet.</p>
                </div>
            </div>
        </div>
        <div class="lado-direito">
            <!-- <h2>bla</h2> -->
            <div class="img">
                <img
                    src="https://images.pexels.com/photos/3820364/pexels-photo-3820364.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
            </div>
        </div>
    </div>
</div>