.wrapper{
   height: 100vh;
    display: flex;
    background: #ffffff;
    .conteudo-sobre{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        padding: 3em 0.2em  0 0.2em;
        margin: 0 auto;
     //  border: 1px solid;

        &>div{
            width: 100%;
            flex: 0 1 auto;
            padding: 0 .2em;

            // border: 1px solid;
        }

        .lado-direito{
          //  border: 1px solid red;
            .img{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
        //        border: 1px solid yellow;
                img{
                    max-width: 320px;
                    
                }
            }
        }
        .lado-esquerdo{
            display: flex;
            justify-content: center;
            align-items: center;
            .text-sobre{
                .title{
                    padding-bottom: 1.5em;
                    color: #151587;
                    font-size: 2.5rem;
                }
                .content{
                    text-align: justify;
                    color: #151587;
                }
            }
        }
        
    }
}



@media screen and(max-width: 770px) {
    .wrapper {
      //  border: 1px solid red;
        // padding: 0 2em;
        .conteudo-sobre {
            padding: 5em 2em 0 2em;
            // border: 5px solid;
            .lado-direito{
                //  border: 1px solid red;
                  .img{
        
                      img{
                          max-width: 90%;
                          
                      }
                  }
              }
        }
        .title {
            font-size: 1.6em !important;
            text-align: center;
        }
    }
}


@media screen and(max-width: 600px) {
    .wrapper {
        height: auto;
        .conteudo-sobre{
          //  border: 1px solid red;
            flex-wrap: wrap;
        }
    }
    .content{
        padding-bottom: 1em;
    }
}