<div class="wrapper">
    <section class="conteudo-servicos">

        <div class="conteudo--topo">
            <div class="title">
                <h1>Porque fazer fisioterapia?</h1>
            </div>
            <div class="text">
                <p>Nunc ut blandit est. Maecenas varius porttitor leo at eleifend. Fusce aliquet eros sit amet luctus malesuada. Donec porttitor cursus lacus eu ullamcorper. Cras ornare mi id sapien mollis, sed fermentum metus pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent eleifend dui ac diam tincidunt, a pharetra erat rhoncus. In hac habitasse platea dictumst. Donec eget ultrices purus. Nunc pulvinar molestie dolor, a vehicula massa volutpat vel. Praesent luctus nisi sodales luctus facilisis. Proin fringilla vel nibh a ornare.</p>
            </div>
        </div>

        <div class="conteudo--img">
        </div>

        <div class="conteudo-cards">
            <div class="title-conteudo-cards">
                <h1>Alguns benefícios da fisioterapia</h1>
            </div>

            <div class="cards"> 
                <div class="card-beneficio">
                    <div class="title-card">
                        <span>Controle da insônia</span>
                    </div>
                    <div class="text-card">
                        <p>A insônia, caracterizada pela dificuldade de adormecer, pode ser causada por vários motivos, entre eles: o bruxismo, os problemas na respiração, a má simetria corporal e, também, a síndrome das pernas inquietas.</p>
                    </div>
                    <div class="icon-card">
                        <i class="fas fa-bed"></i>
                    </div>
                </div>
    
                <div class="card-beneficio">
                    <div class="title-card">
                        <span>Prevenção de possíveis lesões</span>
                    </div>
                    <div class="text-card">
                        <p>A insônia, caracterizada pela dificuldade de adormecer, pode ser causada por vários motivos, entre eles: o bruxismo, os problemas na respiração, a má simetria corporal e, também, a síndrome das pernas inquietas.</p>
                    </div>
                    <div class="icon-card">
                        <i class="fas fa-running"></i>
                    </div>
                </div>
    
                <div class="card-beneficio">
                    <div class="title-card">
                        <span>Auxílio para um treino físico adequado</span>
                    </div>
                    <div class="text-card">
                        <p>A insônia, caracterizada pela dificuldade de adormecer, pode ser causada por vários motivos, entre eles: o bruxismo, os problemas na respiração, a má simetria corporal e, também, a síndrome das pernas inquietas.</p>
                    </div>
                    <div class="icon-card">
                        <i class="fas fa-dumbbell"></i>
                    </div>
                </div>  
            </div>
        </div>
    </section>
</div>